@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&family=Oswald:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






.container{
    margin: auto;
    width: 60%;
}
li{
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #959BA4;
}
li:hover{
    color:#833AE0;
    cursor: pointer;

}
.nav-ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: #F5F5F6;
    display: flex;
    height: 50px;
    margin-bottom: 56px;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.nav-button{
    width: 58px;
    height: 33px;
    left: 992px;
    top: 9px;
    background: #FFFFFF;
    border-radius: 4px;
    border: solid 0;
}
button:hover{
    background-color: #833AE0;
    cursor: pointer;
    color: white
}









.text h1 {
    margin-top: 50px;
    margin-left: 20.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.currency {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 3% 11.5%;
}
.val-p {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 14px;
    color: #9F9F9F;
}
.btn {
    margin-top: 20px;
    border: 1px solid #959BA4;
    border-radius: 5px;
    width: 100%;
}
.btn li {
    display: inline;
    padding: 20px;
    color: #959BA4;
    width: 25%;
}
.btn ul {
    display: flex;
}
#right {
    border-right: 1px solid #959BA4;
}
.btn li:hover {
    background-color: #833AE0;
    cursor: pointer;
    color: white; 
}
.cost p {
    color: #959BA4;
}
.cost {
    margin-top: 30px;
    border: 1px solid #959BA4;
    padding: 20px;
    border-radius: 5px;
    height: 100px;
}
.cost input {
    border-radius: 5px;
    border: 1px solid #959BA4;
    padding: 3px 5px;
}
.cost p {
    margin: 10px;
}

